@model SampleCoreMVCWebsite.Models.UserDetailModel

@{
    ViewData["Title"] = "UserDetail";
}

<h2>UserDetail</h2>

<div>
    <h4>UserDetailModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Headline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Headline)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>
      
    </dl>
</div>
<div>
    @Html.ActionLink("Edit","Edit", "Home", new {  id = Model.UserID  }) |
    <a asp-action="Index">Back to List</a>
</div>
